.Filelist_Row {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.Filelist_Row_Cell {
  box-sizing: border-box;
  color: rgba(67, 67, 72, 1);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 14px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.icon {
  margin-right: 5px;
}

.dir {
  color: #337ab7;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file {
  display: flex;
  align-items: center;
}

.dir > svg,
.file > svg {
  margin-right: 5px;
}

.selected {
  background: #337ab7;
  color: #fff;
}

.selected .dir,
.selected .file,
.selected .dir > svg,
.selected .file > svg {
  color: #fff;
}
